.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 75vh;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px;
}