.project {
    width: 30rem;
    padding: 25px 30px 15px 30px;
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #666;
}

.project-content {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-content span {
    color: #777;
}

.project-content i {
    color: #777;
    text-decoration: none;
    transition: .5s ease-out;
}

.project-content i:hover {
    color: #666;
    transform: scale(.90);
    transition-duration: .5s;
}

@media screen and (max-width: 992px) {
    .project {
        width: 50rem;
    }
}