.intro {
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.intro > .container > .avatar > img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 18px solid #444444;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 80%);
}

.home-info {
    width: 45%;
    color: white;
}

.home-info > h4 {
    font-size: 1.2em;
    text-transform: capitalize;
    color: #aaa;
}

.home-info > h1 {
    font-size: 4em;
    color: #F5F5F5;
}

.home-info > p {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75em;
    color: #d5d5d5;
}

.home_buttons {
    margin-top: 40px;
}

.resume-download-btn , .resume-download-btn:hover {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 992px) {

    .intro {
        margin-bottom: 50px;
        padding-bottom: 20px;
        border-bottom: 1px solid #444444;
    }

    .intro > .container > .avatar > img {
        width: 100%;
        height: auto;
    }

    .home-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .home-info > h1 {
        font-size: 3em;
    }

    .intro > .container {
        flex-direction: column;
        align-items: center;
    }
}